<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a href="/" class="navbar-brand">Business Rooms</a>
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a href="{% url 'core:clients' %}" class="nav-link" aria-current="page">Clients</a>
			</li>
			<li class="nav-item">
				<a href="{% url 'core:rooms' %}" class="nav-link" aria-current="page">Rooms</a>
			</li>
			<li class="nav-item">
				<a href="{% url 'core:events' %}" class="nav-link" aria-current="page">Events</a>
			</li>
			{% if request.session.admin %}
				<li class="nav-item">
					<a href="{% url 'users:admin' %}" class="nav-link" aria-current="page">Users</a>
				</li>
			{% endif %}
			<li class="nav-item">
				<a href="{% url 'users:change_password' %}" class="nav-link text-warning" aria-current="page">Change Password</a>
			</li>
			<li class="nav-item">
				<a href="{% url 'users:logout' %}" class="nav-link text-danger" aria-current="page">Close Session</a>
			</li>
		</ul>
	</div>
</nav>

<script>
	let link = document.querySelector('a[href="{{ request.path }}"]')
	if (link !== null) {
		link.classList.add('active')
	}
</script>