{% extends "commons/base.html" %}

{% block title %}Manage users{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Created users</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Identification</th>
					<th scope="col">Full Name</th>
					<th scope="col">Is Admin</th>
					<th scope="col">Change Admin</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
					{% if user.its_me %}
					<td><abbr title="It's you">{{ user.identification }}</abbr></td>
					{% else %}
					<td>{{ user.identification }}</td>
					{% endif %}
						
						<td>{{ user.full_name }}</td>
						<td><input
							type="checkbox"
							{% if user.is_admin %}
								checked="true"
							{% endif %}
							id="check-{{ user.id }}"
							disabled="true"
							class="for-check-input"
						></td>
						<td>
							{% if user.is_admin %}
								<button
									class="btn btn-danger admin-action"
									data-id="{{ user.id }}"
									data-admin="False"
									{% if user.its_me %}
										disabled="true"
									{% endif %}
								>Remove from administrators</button>
							{% else %}
								<button class="btn btn-success admin-action" data-id="{{ user.id }}" data-admin="True">Add to administrators</button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
			{% if len_users >= 100 %}
				<tfoot>
					<tr>
						<th scope="col">Identification</th>
						<th scope="col">Full Name</th>
						<th scope="col">Is Admin</th>
						<th scope="col">Change Admin</th>
					</tr>
				</tfoot>
			{% endif %}
		</table>
		<hr>
		<a href="{% url 'users:create' %}" class="btn btn-link">Create an user</a>
	</div>
	{% csrf_token %}
{% endblock %}

{% block scripts %}
	<script type="module">
		import {onLoad,bAlert} from '/static/js/utils.mjs';
		onLoad(() => {
			let csfrToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;

			document.querySelectorAll('button.admin-action').forEach(el => {
				el.addEventListener('click', async () => {
					if (!confirm('Are you sure to do this action?')) {
						return null
					}

					let req = await fetch("{% url 'users:api_alter_user_admin' %}", {
						method: 'PUT',
						headers: new Headers({
							'Content-Type': 'application/json',
							'X-CSRFToken': csfrToken,
						}),
						body: JSON.stringify({
							id: parseInt(el.dataset.id),
							admin: el.dataset.admin == 'True'
						})
					}).then(out => out.json())

					if (req.error !== undefined) {
						return alerts.appendChild(bAlert('danger', `Error: ${req.error}`));
					}

					document.getElementById(`check-${el.dataset.id}`).checked = el.dataset.admin == 'True'
					if (el.dataset.admin == 'True') {
						el.classList.replace('btn-success', 'btn-danger')
						el.innerText = 'Remove from administrators'
						el.dataset.admin = 'False'
					} else {
						el.classList.replace('btn-danger', 'btn-success')
						el.innerText = 'Add to administrators'
						el.dataset.admin = 'True'
					}
				})
			})
		})
	</script>
{% endblock %}