{% extends "commons/base.html" %}

{% block title %}LogIn{% endblock %}

{% block body %}
	<div id="alerts"></div>
	<div class="row g-0 gy-5">
		<div class="col-12"></div>
		<div class="col-sm-1 col-md-3 col-lg-4"></div>
		<div class="col-sm-10 col-md-6 col-lg-4">
			<form>
				{% csrf_token %}
				<div class="mb-3">
					<label for="actualpassword" class="form-label">Actual Password</label>
					<input type="password" class="form-control" name="actualpassword">
				</div>
				<hr>
				<div class="mb-3">
					<label for="newpassword" class="form-label">New Password</label>
					<input type="password" class="form-control" name="newpassword">
				</div>
				<div class="mb-3">
					<label for="newpassword2" class="form-label">Confirm New Password</label>
					<input type="password" class="form-control" name="newpassword2">
				</div>

				<button class="btn btn-warning" name="send" type="submit">Change</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="module">
		import {bAlert, disableForm, onLoad} from '/static/js/utils.mjs';

		onLoad(() => {
			const form = document.querySelector('form');
			const alerts = document.getElementById('alerts');

			disableForm(form);

			form.send.addEventListener('click', async () => {
				if (form.actualpassword.value == '' || form.newpassword.value == '' || form.newpassword2.value == '') {
					return alerts.appendChild(bAlert('danger', 'All fields are required'));
				}

				if (form.newpassword.value  != form.newpassword2.value) {
					return alerts.appendChild(bAlert('danger', 'The new password doesn\'t match'));
				}

				let notice = bAlert('secondary', 'Sending request...');
				alerts.appendChild(notice);

				const req = await fetch("{% url 'users:api_change_password' %}", {
					method: 'PUT',
					headers: new Headers({
						'Content-Type': 'application/json',
						'X-CSRFToken': form.csrfmiddlewaretoken.value
					}),
					body: JSON.stringify({
						password: form.actualpassword.value,
						newPassword: form.newpassword.value
					})
				}).then(out => out.json());

				notice.children[1].click();
				if (req.error !== undefined) {
					return alerts.appendChild(bAlert('danger', `Error: ${req.error}`));
				}

				window.location.replace("{% url 'core:home' %}");
			});
		});
	</script>
{% endblock %}