{% extends "commons/base.html" %}

{% block title %}Clients{% endblock %}

{% block body %}
	{% include "core/navbar.html" %}
	<div class="container" style="margin-top: 1em;">
		<a href="{% url 'core:create_client' %}" class="btn btn-primary">Create</a>
		<hr>
		<div id="clients">
			<h1 v-if="!loaded" class="text-center">Loading...</h1>
			<div v-else>
				<input type="text" class="form-control" v-model="search" placeholder="Search">
				<br>
				<h1 v-if="clients.length == 0">No clients created.</h1>
				<table v-else class="table table-hover">
					<thead>
						<tr>
							<th>Identification</th>
							<th>Full Name</th>
							<th>Country</th>
							<th>State</th>
							<th>City</th>
							<th>Phones</th>
							<th>Emails</th>
							<th>Age</th>
							<th>Created At</th>
							<th>Modify</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="client in clients">
							<td>[[ client.identification ]]</td>
							<td>[[ client.fullName ]]</td>
							<td>[[ client.country ]]</td>
							<td>[[ client.state ]]</td>
							<td>[[ client.city ]]</td>
							<td>
								<ul class="list-group">
									<li v-for="phone in client.phones" class="list-group-item">[[ phone ]]</li>
								</ul>
							</td>
							<td>
								<ul class="list-group">
									<li v-for="email in client.emails" class="list-group-item">[[ email ]]</li>
								</ul>
							</td>
							<td>[[ client.age ]]</td>
							<td>[[ client.createdAt ]]</td>
							<td>
								<a :href="`/clients/mod/${client.id}/`" class="btn btn-secondary">Modify</a>
							</td>
						</tr>
					</tbody>
					<tfoot v-show="clients.length > 100">
						<tr>
							<th>Identification</th>
							<th>Full Name</th>
							<th>Country</th>
							<th>State</th>
							<th>City</th>
							<th>Phones</th>
							<th>Emails</th>
							<th>Age</th>
							<th>Created At</th>
							<th>Modify</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
	<script type="module">
		Vue.createApp({
			delimiters: ['[[', ']]'],
			setup() {
				const _clients = Vue.ref([]);
				const loaded = Vue.ref(false);
				const search = Vue.ref('');

				Vue.onMounted(async () => {
					_clients.value = await fetch("{% url 'api:clients' %}").then(out => out.json());
					_clients.value = _clients.value.map(el => {
						el.createdAt = new Date(el.createdAt).toLocaleString()
						return el;
					});

					loaded.value = true;
				});

				const clients = Vue.computed(() => _clients.value.filter(el => {
					const regex = new RegExp(search.value, 'i')
					return regex.test(el.identification.toString()) || regex.test(el.fullName);
				}));

				return {
					loaded,
					clients,
					search
				};
			}
		}).mount('#clients')
	</script>
{% endblock %}