{% extends "commons/base.html" %}

{% block title %}Create Client{% endblock %}

{% block body %}
	{% include "core/navbar.html" %}
	<div id="alerts"></div>
	<div class="row g-0 gy-5">
		<div class="col-12"></div>
		<div class="col-sm-1 col-md-3 col-lg-4"></div>
		<div class="col-sm-10 col-md-6 col-lg-4">
			<form>
				{% csrf_token %}
				<div class="mb-3">
					<label for="identification" class="form-label">Identification Number</label>
					<div class="input-group">
						<input type="text" class="form-control" inputmode="numeric" placeholder="Number" name="identification">
						<span class="input-group-text">-</span>
						<input type="text" class="form-control" inputmode="numeric" placeholder="Verification Digit" name="identificationvd">
					</div>
				</div>
				<div class="mb-3">
					<label for="firstname" class="form-label">Full Name</label>
					<div class="input-group">
						<input type="text" class="form-control capital" name="firstname" placeholder="First Name">
						<input type="text" class="form-control capital" name="secondname" placeholder="Second Name">
					</div>
					<div class="input-group">
						<input type="text" class="form-control capital" name="firstlastname" placeholder="First Last Name">
						<input type="text" class="form-control capital" name="secondlastname" placeholder="Second Last Name">
					</div>
				</div>
				<div class="mb-3">
					<label for="age" class="form-label">Age</label>
					<select name="age" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select an Age...</option>
						{% for age in ages %}
							<option value="{{ age }}">{{ age }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="country" class="form-label">Location</label>
					<select name="country" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a Country...</option>
					</select>
					<br>
					<select name="state" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a State...</option>
					</select>
					<br>
					<select name="city" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a City...</option>
					</select>
				</div>
				<div class="mb-3">
					<label for="phones" class="form-label">Phones</label>
					<div id="phones">
						<div class="input-group" style="margin-bottom: 0.5em;">
							<input type="text" class="form-control persistent" inputmode="numeric" placeholder="Regional Code" name="regcode">
							<input type="text" class="form-control persistent" inputmode="numeric" placeholder="Phone Number" name="phone">
							<button class="btn btn-danger implode" type="button">Remove</button>
						</div>
					</div>
					<button type="button" class="btn btn-success" id="addPhone" style="min-width: 100%;">Add phone</button>
				</div>

				<div class="mb-3">
					<label for="email" class="form-label">Emails</label>
					<div id="emails">
						<div class="input-group" style="margin-bottom: 0.5em;">
							<input type="text" class="form-control persistent" inputmode="email" placeholder="Email" name="email">
							<button class="btn btn-danger implode" type="button">Remove</button>
						</div>
					</div>
					<button type="button" class="btn btn-success" id="addEmail" style="min-width: 100%;">Add email</button>
				</div>

				<button class="btn btn-info" name="send" type="submit">Create</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="module">
		import {bAlert, disableForm, onLoad, emailRegex} from '/static/js/utils.mjs';
		import {getCountries, getStates, getCities} from '/static/js/geoApi.mjs';

		var defaultPhoneCode = '';

		const implodeInput = (evt) => evt.target.parentElement.remove();
		const onlyNumbers = (evt) => {
			evt.target.value = evt.target.value.replace(/[^\-0-9]/g, '');
		};
		const capitalize = (evt) => {
			evt.target.value = evt.target.value.replace(/[^a-z\ ]/ig, '')
				.split(' ')
				.map(txt => txt.substr(0, 1).toUpperCase() + txt.substr(1).toLowerCase())
				.join(' ');
		};
		const persistentInput = (evt) => {
			evt.target.setAttribute('value', evt.target.value)
		};

		onLoad(() => {
			const form = document.querySelector('form');
			const countriesMap = {};

			disableForm(form);

			document.querySelectorAll('button.implode').forEach(el => {
				el.addEventListener('click', implodeInput);
			});

			document.querySelectorAll('input.capital').forEach(el => {
				el.addEventListener('input', capitalize);
			});

			document.querySelectorAll('input.persistent').forEach(el => {
				el.addEventListener('input', persistentInput);
			});

			document.querySelectorAll('input[inputmode="numeric"]').forEach(el => {
				el.addEventListener('input', onlyNumbers);
			});

			document.getElementById('addPhone').addEventListener('click', () => {
				document.getElementById('phones').innerHTML += `<div class="input-group" style="margin-bottom: 0.5em;">
					<input type="text" value="${defaultPhoneCode}" class="form-control persistent" inputmode="numeric" placeholder="Regional Code" name="regcode">
					<input type="text" class="form-control persistent" inputmode="numeric" placeholder="Phone Number" name="phone">
					<button class="btn btn-danger implode" type="button">Remove</button>
				</div>`;

				document.querySelectorAll('button.implode').forEach(el => {
					el.addEventListener('click', implodeInput)
				});
				document.querySelectorAll('input[inputmode="numeric"]').forEach(el => {
					el.addEventListener('input', onlyNumbers)
				});
				document.querySelectorAll('input.persistent').forEach(el => {
					el.addEventListener('input', persistentInput);
				});
			});

			document.getElementById('addEmail').addEventListener('click', () => {
				document.getElementById('emails').innerHTML += `<div class="input-group" style="margin-bottom: 0.5em;">
					<input type="text" class="form-control persistent" inputmode="email" placeholder="Email" name="email">
					<button class="btn btn-danger implode" type="button">Remove</button>
				</div>`;

				document.querySelectorAll('button.implode').forEach(el => {
					el.addEventListener('click', implodeInput)
				});
				document.querySelectorAll('input.persistent').forEach(el => {
					el.addEventListener('input', persistentInput);
				});
			});

			const prepareCity = async (state) => {
				let cities = await getCities(state);

				form.city.innerHTML = '<option value="" disabled="true" hidden="true" selected="true">Select a City...</option>';
				cities.map(city => {
					const el = document.createElement('option');

					el.value = city.city_name;
					el.innerText = city.city_name;

					return el;
				}).forEach(el => {
					form.city.appendChild(el);
				});
			}

			const prepareState = async (country) => {
				let states = await getStates(country);
				form.state.innerHTML = '<option value="" disabled="true" hidden="true" selected="true">Select a State...</option>';

				states.map(state => {
					const el = document.createElement('option');

					el.value = state.state_name;
					el.innerText = state.state_name;

					return el;
				}).forEach(el => {
					form.state.appendChild(el);
				});

				if (form.state.dataset.createdEvent !== '1') {
					form.state.dataset.createdEvent = '1';
					form.state.addEventListener('change', () => {
						prepareCity(form.state.value)
					});
				}
			}

			getCountries().then(countries => {
				countries.map(country => {
					const el = document.createElement('option');

					el.value = country.country_short_name;
					el.innerText = country.country_name;

					countriesMap[country.country_short_name] = {
						name: country.country_name,
						regCode: country.country_phone_code
					};

					return el;
				}).forEach(el => {
					form.country.appendChild(el)
				})
			}).then(() => {
				form.country.addEventListener('change', evt => {
					defaultPhoneCode = countriesMap[form.country.value].regCode;
					prepareState(countriesMap[form.country.value].name);
				})
			});

			form.send.addEventListener('click', async () => {
				function getPhones() {
					if (form.phone === undefined) {
						return [];
					} else if (form.phone instanceof HTMLElement) {
						return [`${form.regcode.value} ${form.phone.value}`];
					}

					let res = [];
					for (var i = 0; i < form.phone.length; i++) {
						res.push(`${form.regcode[i].value} ${form.phone[i].value}`);
					}
					return res;
				}

				function getEmails() {
					if (form.email === undefined) {
						return [];
					} else if (form.email instanceof HTMLElement) {
						return [form.email.value];
					}

					let res = [];
					for (var i = 0; i < form.email.length; i++) {
						res.push(form.email[i].value);
					}
					return res;
				}

				if (
					form.identification.value == '' ||
					form.firstname.value == '' ||
					form.firstlastname.value == '' ||
					form.age.value == '' ||
					form.country.value == '' ||
					form.state.value == '' ||
					form.city.value == ''
				) {
					return alerts.appendChild(bAlert('danger', 'All fields are required'));
				}

				let phones = getPhones();
				if (phones.length == 0) {
					return alerts.appendChild(bAlert('danger', 'You must create a phone number'));
				} else if (phones.find(el => el.startsWith(' ') || el.endsWith(' ')) !== undefined) {
					return alerts.appendChild(bAlert('danger', 'Both fields of phone are required'));
				}

				let emails = getEmails();
				if (emails.length == 0) {
					return alerts.appendChild(bAlert('danger', 'You must create a email'));
				} else if (emails.find(el => el == '') !== undefined) {
					return alerts.appendChild(bAlert('danger', 'Some email field is empty'));
				} else if (emails.find(el => !emailRegex.test(el)) !== undefined) {
					return alerts.appendChild(bAlert('danger', 'Some email field has not a valid format'));
				}

				let notice = bAlert('secondary', 'Sending request...');
				alerts.appendChild(notice);

				const req = await fetch("{% url 'api:clients' %}", {
					method: 'POST',
					headers: new Headers({
						'Content-Type': 'application/json',
						'X-CSRFToken': form.csrfmiddlewaretoken.value
					}),
					body: JSON.stringify({
						firstName: form.firstname.value,
						secondName: (form.secondname.value != '')? form.secondname.value : undefined,
						firstLastName: form.firstlastname.value,
						secondLastName: (form.secondlastname.value != '')? form.secondlastname.value : undefined,
						identification: parseInt(form.identification.value),
						identificationVd: (form.identificationvd.value != '')? parseInt(form.identificationvd.value) : undefined,
						country: form.country.value,
						state: form.state.value,
						city: form.city.value,
						age: form.age.value,
						emails,
						phones
					})
				}).then(out => out.json());

				notice.children[1].click();
				if (req.error !== undefined) {
					return alerts.appendChild(bAlert('danger', `Error: ${req.error}`));
				}

				window.location.replace("{% url 'core:clients' %}");
			});
		})
	</script>
{% endblock %}