{% extends "commons/base.html" %}

{% block title %}Create Event{% endblock %}

{% block body %}
	{% include "core/navbar.html" %}
	<div id="alerts"></div>
	<div class="row g-0 gy-5">
		<div class="col-12"></div>
		<div class="col-sm-1 col-md-3 col-lg-4"></div>
		<div class="col-sm-10 col-md-6 col-lg-4">
			<form>
				{% csrf_token %}
				<input type="hidden" name="user" value="{{ user }}">
				<div class="mb-3">
					<label for="client" class="form-label">Client</label>
					<select name="client" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a Client...</option>
						{% for client in clients %}
							<option value="{{client.id}}">({{ client.identification }}) {{ client.full_name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="room" class="form-label">Room</label>
					<select name="room" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a Room...</option>
						{% for room in rooms %}
							<option value="{{room.hq_id}},{{room.id}}">{{ room.hq_name }}, {{ room.name }} ({{ room.max_capacity }})</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="eventtype" class="form-label">Event Type</label>
					<select name="eventtype" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a Event Type...</option>
						{% for event_type in event_types %}
							<option value="{{event_type.id}}">{{ event_type.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="peoplecount" class="form-label">Capacity</label>
					<input type="text" name="peoplecount" inputmode="numeric" class="form-control">
				</div>
				<div class="mb-3">
					<label for="eventat" class="form-label">Event At</label>
					<input type="date" name="eventat" class="form-control">
				</div>

				<button class="btn btn-info" name="send" type="submit">Create</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="module">
		import {bAlert, disableForm, onLoad} from '/static/js/utils.mjs';
		onLoad(() => {
			let form = document.querySelector('form');

			disableForm(form);

			// Enabling only numeric input
			form.peoplecount.addEventListener('input', (evt) => {
				form.peoplecount.value = form.peoplecount.value.replace(/[^0-9]/g, '');
			});

			form.send.addEventListener('click', async () => {
				if (
					form.client.value == '' ||
					form.room.value == '' ||
					form.eventtype.value == '' ||
					form.peoplecount.value == '' ||
					form.eventat.value == ''
				) {
					return alerts.appendChild(bAlert('danger', 'All fields are required'));
				}

				let notice = bAlert('secondary', 'Sending request...');
				alerts.appendChild(notice);

				const req = await fetch("{% url 'api:events' %}", {
					method: 'POST',
					headers: new Headers({
						'Content-Type': 'application/json',
						'X-CSRFToken': form.csrfmiddlewaretoken.value
					}),
					body: JSON.stringify({
						user: parseInt(form.user.value),
						client: parseInt(form.client.value),
						headquarter: parseInt(form.room.value.split(',')[0]),
						room: parseInt(form.room.value.split(',')[1]),
						eventType: parseInt(form.eventtype.value),
						peopleCount: parseInt(form.peoplecount.value),
						eventDate: new Date(form.eventat.value).toISOString()
					})
				}).then(out => out.json());

				notice.children[1].click();
				if (req.error !== undefined) {
					return alerts.appendChild(bAlert('danger', `Error: ${req.error}`));
				}

				window.location.replace("{% url 'core:events' %}");
			});
		});
	</script>
{% endblock %}