{% extends "commons/base.html" %}

{% block title %}Create User{% endblock %}

{% block body %}
	<div id="alerts"></div>
	<div class="row g-0 gy-5">
		<div class="col-12"></div>
		<div class="col-sm-1 col-md-3 col-lg-4"></div>
		<div class="col-sm-10 col-md-6 col-lg-4">
			<form>
				<h1 class="text-center">Create an user</h1>
				<hr>
				{% csrf_token %}
				<div class="mb-3">
					<label for="identification" class="form-label">Identification Number</label>
					<input type="text" class="form-control" inputmode="numeric" name="identification">
					<div class="form-text">Personal Identefication Number</div>
				</div>
				<div class="mb-3">
					<label for="fullname" class="form-label">Full Name</label>
					<input type="text" class="form-control" name="fullname">
					<div class="form-text">Full Name</div>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" disabled="true" name="password">
					<div class="form-text">By default the password is "1234", please change it after access</div>
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" name="admin" class="form-check-input">
					<label for="admin" class="form-check-label">Is Admin</label>
				</div>

				<button class="btn btn-info" name="send" type="submit">Create</button>
				<a class="btn btn-secondary" href="{% url 'users:admin' %}">Go Back</a>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="module">
		import {bAlert, disableForm, onLoad} from '/static/js/utils.mjs';

		onLoad(() => {
			const form = document.querySelector('form');
			const alerts = document.getElementById('alerts');

			disableForm(form);

			// Enabling only numeric input
			form.identification.addEventListener('input', () => {
				form.identification.value = form.identification.value.replace(/[^0-9]/g, '');
			});

			// Enabling only ASCII and Capitalizing
			form.fullname.addEventListener('input', () => {
				form.fullname.value = form.fullname.value.replace(/[^a-z\ ]/ig, '')
					.split(' ')
					.map(txt => txt.substr(0, 1).toUpperCase() + txt.substr(1).toLowerCase())
					.join(' ');
			});

			form.send.addEventListener('click', async () => {
				if (form.identification.value == '' || form.fullname.value == '') {
					return alerts.appendChild(bAlert('danger', 'All fields are required'));
				}

				let notice = bAlert('secondary', 'Sending request...');
				alerts.appendChild(notice);

				const req = await fetch("{% url 'users:api_create' %}", {
					method: 'POST',
					headers: new Headers({
						'Content-Type': 'application/json',
						'X-CSRFToken': form.csrfmiddlewaretoken.value
					}),
					body: JSON.stringify({
						identification: parseInt(form.identification.value),
						fullName: form.fullname.value,
						password: '1234',
						admin: form.admin.checked
					})
				}).then(out => out.json());

				notice.children[1].click();
				if (req.error !== undefined) {
					return alerts.appendChild(bAlert('danger', `Error: ${req.error}`));
				}

				window.location.replace("{% url 'users:admin' %}");
			});
		});
	</script>
{% endblock %}