{% extends "commons/base.html" %}

{% block title %}Create Headquarter{% endblock %}

{% block body %}
	{% include "core/navbar.html" %}
	<div id="alerts"></div>
	<div class="row g-0 gy-5">
		<div class="col-12"></div>
		<div class="col-sm-1 col-md-3 col-lg-4"></div>
		<div class="col-sm-10 col-md-6 col-lg-4">
			<form>
				{% csrf_token %}
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" name="name">
				</div>
				<div class="mb-3">
					<label for="country" class="form-label">Location</label>
					<select name="country" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a Country...</option>
					</select>
					<br>
					<select name="state" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a State...</option>
					</select>
					<br>
					<select name="city" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a City...</option>
					</select>
				</div>
				<div class="mb-3">
					<label for="country" class="form-label">Location Detail</label>
					<textarea name="locationdetail" rows="4" class="form-control"></textarea>
				</div>

				<button class="btn btn-info" name="send" type="submit">Create</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="module">
		import {bAlert, disableForm, onLoad} from '/static/js/utils.mjs';
		import {getCountries, getStates, getCities} from '/static/js/geoApi.mjs';

		onLoad(() => {
			let form = document.querySelector('form');
			const countriesMap = {};

			disableForm(form);

			// Enabling only ASCII and Capitalizing
			form.name.addEventListener('input', () => {
				form.name.value = form.name.value.replace(/[^a-z0-9\ ]/ig, '')
					.split(' ')
					.map(txt => txt.substr(0, 1).toUpperCase() + txt.substr(1).toLowerCase())
					.join(' ');
			});

			const prepareCity = async (state) => {
				let cities = await getCities(state);

				form.city.innerHTML = '<option value="" disabled="true" hidden="true" selected="true">Select a City...</option>';
				cities.map(city => {
					const el = document.createElement('option');

					el.value = city.city_name;
					el.innerText = city.city_name;

					return el;
				}).forEach(el => {
					form.city.appendChild(el);
				});
			}

			const prepareState = async (country) => {
				let states = await getStates(country);
				form.state.innerHTML = '<option value="" disabled="true" hidden="true" selected="true">Select a State...</option>';

				states.map(state => {
					const el = document.createElement('option');

					el.value = state.state_name;
					el.innerText = state.state_name;

					return el;
				}).forEach(el => {
					form.state.appendChild(el);
				});

				if (form.state.dataset.createdEvent !== '1') {
					form.state.dataset.createdEvent = '1';
					form.state.addEventListener('change', () => {
						prepareCity(form.state.value)
					});
				}
			}

			getCountries().then(countries => {
				countries.map(country => {
					const el = document.createElement('option');

					el.value = country.country_short_name;
					el.innerText = country.country_name;

					countriesMap[country.country_short_name] = country.country_name;

					return el;
				}).forEach(el => {
					form.country.appendChild(el)
				})
			}).then(() => {
				form.country.addEventListener('change', evt => {
					prepareState(countriesMap[form.country.value]);
				})
			});

			form.send.addEventListener('click', async () => {
				if (
					form.name.value == '' ||
					form.country.value == '' ||
					form.state.value == '' ||
					form.city.value == '' ||
					form.locationdetail.value == ''
				) {
					return alerts.appendChild(bAlert('danger', 'All fields are required'));
				}

				let notice = bAlert('secondary', 'Sending request...');
				alerts.appendChild(notice);

				const req = await fetch("{% url 'api:headquarters' %}", {
					method: 'POST',
					headers: new Headers({
						'Content-Type': 'application/json',
						'X-CSRFToken': form.csrfmiddlewaretoken.value
					}),
					body: JSON.stringify({
						name: form.name.value,
						country: form.country.value,
						state: form.state.value,
						city: form.city.value,
						locationDetail: form.locationdetail.value
					})
				}).then(out => out.json());

				notice.children[1].click();
				if (req.error !== undefined) {
					return alerts.appendChild(bAlert('danger', `Error: ${req.error}`));
				}

				window.location.replace("{% url 'core:rooms' %}");
			});
		})
	</script>
{% endblock %}