{% extends "commons/base.html" %}

{% block title %}Create Room{% endblock %}

{% block body %}
	{% include "core/navbar.html" %}
	<div id="alerts"></div>
	<div class="row g-0 gy-5">
		<div class="col-12"></div>
		<div class="col-sm-1 col-md-3 col-lg-4"></div>
		<div class="col-sm-10 col-md-6 col-lg-4">
			<form>
				{% csrf_token %}
				<div class="mb-3">
					<label for="headquarter" class="form-label">Headquarter</label>
					<select name="headquarter" class="form-control">
						<option value="" disabled="true" hidden="true" selected="true">Select a Head Quarter...</option>
						{% for headquarter in headquarters %}
						<option value="{{headquarter.id}}">({{ headquarter.id }}) {{ headquarter.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" name="name">
				</div>
				<div class="mb-3">
					<label for="floor" class="form-label">Floor</label>
					<div class="input-group">
						<button class="btn btn-danger" name="substract">-</button>
						<input type="text" name="floor" readonly="true" class="form-control">
						<button class="btn btn-success" name="add">+</button>
					</div>
				</div>
				<div class="mb-3">
					<label for="capacity" class="form-label">Capacity</label>
					<input type="text" name="capacity" inputmode="numeric" class="form-control">
				</div>

				<button class="btn btn-info" name="send" type="submit">Create</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="module">
		import {bAlert, disableForm, onLoad} from '/static/js/utils.mjs';
		onLoad(() => {
			let form = document.querySelector('form');

			disableForm(form);

			form.floor.value = 1;
			form.add.addEventListener('click', () => {
				form.floor.value = parseInt(form.floor.value) + 1;
			});

			form.substract.addEventListener('click', () => {
				if (form.floor.value > 1) {
					form.floor.value = parseInt(form.floor.value) - 1;
				}
			});

			// Enabling only numeric input
			form.capacity.addEventListener('input', (evt) => {
				form.capacity.value = form.capacity.value.replace(/[^0-9]/g, '');
			});

			// Enabling only ASCII and Capitalizing
			form.name.addEventListener('input', () => {
				form.name.value = form.name.value.replace(/[^a-z0-9\ ]/ig, '')
					.split(' ')
					.map(txt => txt.substr(0, 1).toUpperCase() + txt.substr(1).toLowerCase())
					.join(' ');
			});

			form.send.addEventListener('click', async () => {
				if (
					form.name.value == '' ||
					form.headquarter.value == '' ||
					form.capacity.value == ''
				) {
					return alerts.appendChild(bAlert('danger', 'All fields are required'));
				}

				let notice = bAlert('secondary', 'Sending request...');
				alerts.appendChild(notice);

				const req = await fetch("{% url 'api:rooms' %}", {
					method: 'POST',
					headers: new Headers({
						'Content-Type': 'application/json',
						'X-CSRFToken': form.csrfmiddlewaretoken.value
					}),
					body: JSON.stringify({
						headquarter: parseInt(form.headquarter.value),
						name: form.name.value,
						floor: parseInt(form.floor.value),
						maxCapacity: parseInt(form.capacity.value)
					})
				}).then(out => out.json());

				notice.children[1].click();
				if (req.error !== undefined) {
					return alerts.appendChild(bAlert('danger', `Error: ${req.error}`));
				}

				window.location.replace("{% url 'core:rooms' %}");
			});
		});
	</script>
{% endblock %}