{% extends "commons/base.html" %}

{% block title %}Events{% endblock %}

{% block body %}
	{% include "core/navbar.html" %}
	<div class="container" style="margin-top: 1em;">
		<a href="{% url 'core:create_event' %}" class="btn btn-primary">Create</a>
		<hr>
		<div id="events">
			<h1 v-if="!loaded" class="text-center">Loading...</h1>
			<div v-else>
				<div class="input-group">
					<input type="date" v-model="from" class="form-control">
					<input type="date" v-model="to" class="form-control">
				</div>
				<div class="bm-0 form-check">
					<input type="checkbox" v-model="onlyConfirmed" class="form-check-input">
					<label class="form-check-label">Only Confirmed</label>
				</div>
				<br>
				<button v-on:click="refresh" class="btn btn-secondary">Filter</button>
				<hr>
				<h1 v-if="events.length == 0">No events created.</h1>
				<table v-else class="table table-hover table-sm">
					<thead>
						<tr>
							<th>Client Name</th>
							<th>Identification</th>
							<th>Phones</th>
							<th>Location</th>
							<th>Location Detail</th>
							<th>People Count</th>
							<th>Event Type</th>
							<th>Event At</th>
							<th>Check</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="event in events">
							<td>[[ event.name ]]</td>
							<td>[[ event.identification ]]</td>
							<td>
								<ul class="list-group">
									<li v-for="phone in event.phones" class="list-group-item">[[ phone ]]</li>
								</ul>
							</td>
							<td>[[ event.country ]], [[ event.state ]], [[ event.city ]]</td>
							<td>
								<textarea rows="2" readonly="true" class="form-control" v-model="event.locationDetail"></textarea>
							</td>
							<td>[[ event.peopleCount ]]</td>
							<td>[[ event.eventType ]]</td>
							<td>[[ event.eventAt ]]</td>
							<td><input type="checkbox" v-bind:checked="event.isConfirmed" disabled="true"></td>
							<td>
								<button v-on:click="changeState(event.id, !event.isConfirmed)" class="btn btn-secondary">
									[[ (event.isConfirmed)? 'Cancel' : 'Confirm' ]]
								</button>
								<button v-on:click="del(event.id)" class="btn btn-danger">Delete</button>
							</td>
						</tr>
					</tbody>
					<tfoot v-show="events.length > 100">
						<tr>
							<th>Client Name</th>
							<th>Identification</th>
							<th>Phones</th>
							<th>Location</th>
							<th>Location Detail</th>
							<th>People Count</th>
							<th>Event Type</th>
							<th>Event At</th>
							<th>Check</th>
							<th>Actions</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
	<script type="module">
		Vue.createApp({
			delimiters: ['[[', ']]'],
			setup() {
				const from = Vue.ref('');
				const to = Vue.ref('');
				const onlyConfirmed = Vue.ref(false);
				const events = Vue.ref([]);
				const loaded = Vue.ref(false);
				const csfrToken = '{{ csrf_token }}';

				const refresh = async () => {
					loaded.value = false;
					let query = [];

					if (onlyConfirmed.value) {
						query.push('confirmed=yes');
					}

					if (from.value != '') {
						query.push(`from=${encodeURI(new Date(from.value).toISOString())}`);
						if (to.value != '') {
							query.push(`to=${encodeURI(new Date(to.value).toISOString())}`);
						} else {
							query.push(`to=max`);
						}
					}

					events.value = await fetch(`{% url 'api:events_summary' %}?${query.join('&')}`)
						.then(out => out.json());

					events.value = events.value.map(el => {
						el.eventAt = new Date(el.eventAt).toLocaleDateString()
						return el;
					});

					loaded.value = true;
				}

				const del = async (id) => {
					if (!confirm('Are you sure to do this action?')) {
						return null
					}
					
					await fetch("{% url 'api:events' %}", {
						method: 'DELETE',
						headers: new Headers({
							'Content-Type': 'application/json',
							'X-CSRFToken': csfrToken,
						}),
						body: JSON.stringify({
							id
						})
					});

					refresh();
				}

				const changeState = async (id, state) => {
					if (!confirm('Are you sure to do this action?')) {
						return null
					}

					await fetch("{% url 'api:confirm_event' %}", {
						method: 'PUT',
						headers: new Headers({
							'Content-Type': 'application/json',
							'X-CSRFToken': csfrToken,
						}),
						body: JSON.stringify({
							id,
							state
						})
					});
					
					refresh();
				}

				Vue.onMounted(() => refresh())

				return {
					from,
					to,
					onlyConfirmed,
					loaded,
					events,
					refresh,
					changeState,
					del
				}
			}
		}).mount('#events')
	</script>
{% endblock %}