{% extends "commons/base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
	{% include "core/navbar.html" %}
	<div class="container card" style="margin-top: 1em;">
		<div class="card-body">
			<h3>
				Welcome, {{ user_data.full_name }}
				{% if user_data.admin %}
					<span class="badge bg-info">Admin</span>
				{% endif %}
			</h3>
			<p>
				Identification: <code>{{ user_data.identification }}</code>
			</p>
		</div>
	</div>
{% endblock %}