{% extends "commons/base.html" %}

{% block title %}LogIn{% endblock %}

{% block body %}
	<div id="alerts"></div>
	<div class="row g-0 gy-5">
		<div class="col-12"></div>
		<div class="col-sm-1 col-md-3 col-lg-4"></div>
		<div class="col-sm-10 col-md-6 col-lg-4">
			<form>
				{% csrf_token %}
				<div class="mb-3">
					<label for="identification" class="form-label">Identification Number</label>
					<input type="text" class="form-control" inputmode="numeric" name="identification">
					<div class="form-text">Personal Identefication Number</div>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" name="password">
					<div class="form-text">Please not share this field with nobody</div>
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" name="remember" class="form-check-input">
					<label for="remember" class="form-check-label">Remember Me</label>
				</div>

				<button class="btn btn-info" name="send" type="submit">LogIn</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="module">
		import {bAlert, disableForm, onLoad} from '/static/js/utils.mjs';

		onLoad(() => {
			const form = document.querySelector('form');
			const alerts = document.getElementById('alerts');

			disableForm(form);

			// Enabling only numeric input
			form.identification.addEventListener('input', (evt) => {
				form.identification.value = form.identification.value.replace(/[^0-9]/g, '');
			});

			form.send.addEventListener('click', async () => {
				if (form.identification.value == '' || form.password.value == '') {
					return alerts.appendChild(bAlert('danger', 'All fields are required'));
				}

				let notice = bAlert('secondary', 'Sending request...');
				alerts.appendChild(notice);

				const req = await fetch("{% url 'users:api_login' %}", {
					method: 'POST',
					headers: new Headers({
						'Content-Type': 'application/json',
						'X-CSRFToken': form.csrfmiddlewaretoken.value
					}),
					body: JSON.stringify({
						identification: parseInt(form.identification.value),
						password: form.password.value
					})
				}).then(out => out.json());

				notice.children[1].click();
				if (req.error !== undefined) {
					return alerts.appendChild(bAlert('danger', `Error: ${req.error}`));
				}

				window.location.reload();
			});
		});
	</script>
{% endblock %}