{% extends "commons/base.html" %}

{% block title %}Rooms{% endblock %}

{% block body %}
	{% include "core/navbar.html" %}
	<div class="container" style="margin-top: 1em;">
		<a href="{% url 'core:create_headquarter' %}" class="btn btn-secondary">Create a Headquarter</a>
		<a href="{% url 'core:create_room' %}" class="btn btn-primary">Create a Room</a>
		<hr>
		<div id="rooms">
			<h1 v-if="!loaded" class="text-center">Loading...</h1>
			<div v-else>
				<input type="text" class="form-control" v-model="search" placeholder="Search">
				<br>
				<h1 v-if="rooms.length == 0">No rooms created.</h1>
				<table v-else class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>HQ Name</th>
							<th>Room Name</th>
							<th>Country</th>
							<th>State</th>
							<th>City</th>
							<th>Location Detail</th>
							<th>Floor</th>
							<th>Capacity</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="room in rooms">
							<td>
								<pre>[[ room.hqId ]]-[[ room.id ]]</pre>
							</td>
							<td>[[ room.hqName ]]</td>
							<td>[[ room.name ]]</td>
							<td>[[ room.country ]]</td>
							<td>[[ room.state ]]</td>
							<td>[[ room.city ]]</td>
							<td>
								<textarea rows="2" readonly v-model="room.locationDetail"></textarea>
							</td>
							<td>[[ room.floor ]]</td>
							<td>[[ room.maxCapacity ]]</td>
						</tr>
					</tbody>
					<tfoot v-show="rooms.length > 100">
						<tr>
							<th>ID</th>
							<th>HQ Name</th>
							<th>Room Name</th>
							<th>Country</th>
							<th>State</th>
							<th>City</th>
							<th>Location Detail</th>
							<th>Floor</th>
							<th>Capacity</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
	<script type="module">
		Vue.createApp({
			delimiters: ['[[', ']]'],
			setup() {
				const _rooms = Vue.ref([]);
				const loaded = Vue.ref(false);
				const search = Vue.ref('');

				Vue.onMounted(async () => {
					_rooms.value = await fetch("{% url 'api:rooms' %}").then(out => out.json());

					loaded.value = true;
				});

				const rooms = Vue.computed(() => _rooms.value.filter(el => {
					const regex = new RegExp(search.value, 'i')
					return regex.test(el.hqName) || regex.test(el.name);
				}));

				return {
					loaded,
					rooms,
					search
				};
			}
		}).mount('#rooms')
	</script>
{% endblock %}