{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Business Rooms | {% block title %}Home{% endblock %}
	</title>

	{% include "./bootstrap.html" %}
	{% block styles %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
	{% block scripts %}{% endblock %}
</body>
</html>